table{
    width: 50%;
    border: 1px solid black;
    tr,td,th{
        border: 1px solid black;
    }
}

.goBackLink{
display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 10px;
  color: #eeeeee;
  text-decoration: none;

  &:hover {
    color: #3949ab;
  }
}