
.app {
  height: 100vh;
  background: var(--bg-body);
  color: var(--text-primary);
  overflow: hidden;
}

.main-container {
  display: flex;
  height: 100%;
}

.sidebar {
  width: 250px;
  background: var(--bg-sidebar);
  flex-shrink: 0;
  border-right: 1px solid var(--border-color);
  height: 100%; // растягиваем на всю высоту
  overflow-y: auto;
  transition: width 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  &.collapsed {
    width: 72px;
  }
}

.right-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0; // важно для flex
   transition: margin-left 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

.header {
  background: var(--bg-header);
  color: white;
  flex-shrink: 0;
}

.main-content {
  flex: 1;
  padding: 2rem;
  background: var(--bg-main);
  overflow-y: auto;
  color: var(--text-primary);
}






