.divider {
  margin: 8px 16px;
  height: 1px;
  background-color: rgba(128, 128, 128, 0.3);
  position: relative;

  .divider-text {
    position: absolute;
    top: -10px;
    left: 0;
    background-color: inherit;
    padding: 0 8px;
    color: gray;
    font-size: 12px;
  }
}

button.navigation-item {
  width: 100%;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
}